# Dependencies
node_modules/


# Environment
.env
.env.local
.env.*.local

# Build & Coverage
dist/
build/
coverage/

# Logs
logs/
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db
*.swp
*.swo

# IDE
.vscode/
.idea/
*.sublime-*

# Docker
docker-compose.override.yml

# Kubernetes
*.kubeconfig
kubeconfig

# Helm
helm/devops-demo/charts/
*.tgz

# Terraform
.terraform/
*.tfstate
*.tfstate.backup

# Misc
tmp/
temp/
.cache/
